<section class="panel panel--settings panel--choose-player" aria-labelledby="fieldset-player-color-title">
  <fieldset class="panel__fieldset panel__fieldset--choose-player">
    <legend id="fieldset-player-color-title" class="settings-choose-player__heading">
      <span class="settings-choose-player__pawn" aria-hidden="true">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16 6a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm-3.5 8h7l2.1 9.5H10.4L12.5 14zM9.5 24.5h13V27h-13v-2.5z"
            fill="#2dd4bf"
          />
        </svg>
      </span>
      <span class="settings-choose-player__title-text">Choose player</span>
    </legend>
    <ul class="panel__options panel__options--choose-player">{{RADIOS}}</ul>
  </fieldset>
</section>
